* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 120px 1fr;
}

/* nav */
nav {
  grid-area: 1/1/3/2;
  display: grid;
  align-content: start;
  gap: 5vh;
  background-color: lightblue;
}

/* header */
header {
  grid-area: 1/2/2/4;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.search-bar {
  grid-area: 1/1/2/2;
}

.header-bar {
  grid-area: 1/2/2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.greet-user {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 1fr;
}

.greet-user .big-avatar {
  grid-area: 1/1/3/2;
  align-self: center;
  justify-self: center;
}

.greetings {
  grid-area: 1/2/2/3;
  align-self: center;
}

.user {
  grid-area: 2/2/3/3;
  align-self: start;
}

.header-btns ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-btns li {
  list-style-type: none;
}

/* main */
main {
  grid-area: 2/2/3/3;
  background-color: lightgray;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  border: 2px solid red;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 200px;
}

.card h3 {
  align-self: end;
}

.card ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: end;
}

.card li {
  list-style-type: none;
}

/* aside */
aside {
  grid-area: 2/3/3/4;
  grid-template-rows: 1fr 1fr;
  background-color: lightgrey;
}

.announcement {
  border: 2px solid red;
}

.users {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  border: 2px solid red;
}

.users .small-avatar {
  grid-area: 1/1/3/2;
}

.users a {
  grid-area: 1/2/2/3;
}

.users p {
  grid-area: 2/2/3/3;
}
